{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Typify by TEMPLATED</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'main.css' %}"/>
	</head>
	<body>
		<!-- Banner -->
			<section id="banner">
				<h2><strong>Typify</strong> is a free responsive site template</h2>
				<p>Brought to you by Templated</p>
				<ul class="actions">
					<li><a href="#" class="button special">Get started</a></li>
				</ul>
			</section>
	</body>
</html>